<!DOCTYPE html>
<html lang="en">
<head>
<title>
CSE 564 Lab 2
</title>
<meta charset = "utf-8">
<script src = "https://d3js.org/d3.v4.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pcp.js') }}"></script>
<style>
.axis {
  opacity: 0.4;
}
.axis:hover {
  opacity: 1;
}
</style>
<link rel="shortcut icon" href="">
</head>
<body>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<ul class="navbar-nav">

<li class="nav-item">
<a class="nav-link" href="#" onclick="PCPPlotFlask()">PCP Plot</a>
</li>
</ul>
</nav> -->
</body>
