/* Legend Font Style */
body {
	font: 11px sans-serif;
	background-color: #ffffff;
}
.container-new{
    margin-left: inherit;
}
.sidemenu-new{
    padding-top: 15px;
    position: fixed;
    height: 100%;
    padding-bottom: 15px;
}
#geomap{
    height: 350px;
    margin-left: 15px;
}
#barchart{
    height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
}
#scatterplot{
  margin-left: 430px;
  padding-left: 0px;
  padding-right: 0px;
}
#lineplot{
  padding-left: 0px;
  padding-right: 0px;
}
/* Legend Position Style */
.legend {
	position:absolute;
	top: 50;
	right: 30;
	bottom: 30;
	left: 100;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}